<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Personal Music Stream</title>
</head>
<body>
	<div>
		<div id="list_music">
			<ul>
				<li><a href="http://localhost:8080/player/semblance">Semblance</a> </li>
				<li><a href="http://localhost:8080/player/slipstream-currents">Slipstream Currents</a> </li>
			</ul>
		</div>
		<div id="play_music">
			<button onclick="audio.play();">Play</button>
			<button onclick="audio.pause();">Pause</button>
			<br>
			<img th:src="@{http://localhost:8080/file/} + ${mix_id} + @{.jpg}" />
			<audio th:src="@{http://localhost:8080/file/} + ${mix_id} + @{.m4a}" id="audio"></audio>
		</div>
	</div>
</body>
</html>