<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-7" />
    <title>Personal Music Stream</title>
</head>
<body style="background-color: slategrey">
<div id="list_music">
    <div th:each="mix: ${mixes}" style="float: left; padding: 3px; margin: 3px; border: darkslategray 3px solid">
        <a th:href="${@environment.getProperty('pms.hostName')} + ${@environment.getProperty('pms.applicationPath')} + @{/player/} + ${mix.id}">
            <div>
                <img th:src="${mix.imageUrl}" style="height: 400px; width: 711px" />
                <p th:text="${mix.name}" />
            </div>
        </a>
    </div>
</div>
</body>
</html>
